---
import { Leaflet, CreateLeafletIcon, Marker, LayerGroup } from 'astro-leaflet';
import type {AstroLeafletMarkerType, AstroLeafletOptionsType}  from 'astro-leaflet';
import Layout from '../layouts/Layout.astro';

import data from '../data/data.json'
import countries from '../data/countries.json'
import visitedCountries from '../data/visited-countries.json'
import stargazers from '../data/stargazers.json'

const markersAstroDev: AstroLeafletMarkerType[] = []
if (true) {
	Object.keys(data).forEach(key => {
		markersAstroDev.push( {latlng: [data[key].lat, data[key].lon], options: {title: key, zIndexOffset: -400}, astroIconName:'icon-astrodev'} )
	})
} else {
	Object.keys(visitedCountries).forEach(key => {
		markersAstroDev.push( {latlng: [visitedCountries[key].lat, visitedCountries[key].lon], options: {title: key}} )
	})
}

const markersMissingCountries: AstroLeafletMarkerType[] = []
Object.keys(countries).forEach(key => {
	if (visitedCountries[key] === undefined) {
		markersMissingCountries.push( {latlng: [countries[key].lat, countries[key].lon], options: {title: key}, astroIconName:'icon-missingcountries'} )
	}
})

const markersStargazers: AstroLeafletMarkerType[] = []
stargazers.forEach(stargazer => {
	if (stargazer.userLocationLatLng) {
		markersStargazers.push( {
			latlng: [parseFloat(stargazer.userLocationLatLng.lat), parseFloat(stargazer.userLocationLatLng.lon)],
			options: {
				title: `${stargazer.userLocation}\n${stargazer.repo}`,
				zIndexOffset: 400,
			},
			astroIconName:'icon-stargazers' })
	}
})

const options: AstroLeafletOptionsType = {
	tileLayer: 'https://{s}.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}',
	tileLayerOptions: {
		subdomains: [ 'mt0', 'mt1', 'mt2', 'mt3' ],
		attribution: 'Map data &copy; Google',
	},
	mapOptions: { zoomControl: false },
}

---

<Layout>
	<CreateLeafletIcon name='icon-astrodev' options={{className: "leaflet-icon-astrodev"}}/>
	<CreateLeafletIcon name='icon-missingcountries' options={{className: "leaflet-icon-missingcountries"}}/>
	<CreateLeafletIcon name='icon-stargazers' options={{className: "leaflet-icon-stargazers"}}/>
	<Leaflet
		style="width: 100vw; height: 100vh"
		options={options}
	>

		<LayerGroup id="astro-leaflet-layergroup-astrodev">
			{ markersAstroDev.map(marker => (<Marker {...marker} />)) }
		<LayerGroup/>
		<LayerGroup id="astro-leaflet-layergroup-missingcountries">
			{ markersMissingCountries.map(marker => (<Marker {...marker} />)) }
		<LayerGroup/>
		<LayerGroup id="astro-leaflet-layergroup-stargazers">
			{ markersStargazers.map(marker => (<Marker {...marker} />)) }
		<LayerGroup/>

		<form>
			<label class='label' >
				<input type="checkbox" name="showcheckbox" value="astrodev" checked>
				astro-dev
			</label>
			<label class='label' >
				<input type="checkbox" name="showcheckbox" value="missingcountries" checked>
				missing countries
			</label>
			<label class='label' >
				<input type="checkbox" name="showcheckbox" value="stargazers" checked>
				Stargazers
			</label>
		</form>
	</Leaflet>
</Layout>

<style is:global>
	/* creating an icon.
	   cf. for some examples
		   https://www.drupal.org/docs/extending-drupal/contributed-modules/contributed-module-archive/contrib-modules-for-building-the-site-functionality/geographical-data-and-mapping/leaflet/creating-custom-styles-leaflet-icons-with */
	.leaflet-icon-astrodev, .leaflet-icon-missingcountries, .leaflet-icon-stargazers {
		border:5px solid rgba(255,255,255,0.5);
		border-radius:50%;
	}
	.leaflet-icon-astrodev         { background:blue; }
	.leaflet-icon-missingcountries { background:red; }
	.leaflet-icon-stargazers       { background:green; }

	form {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
		background-color: lightgray;
		border: 1px solid black;
		padding: 10px;
		margin: 10px;
	}

	form label {
		display: block;
	}
	input {
		accent-color: black;
	}
	label:hover {
		background-color: grey;
	}
</style>

<script>
	import { getMapFromId, getMapOrLayoutGroupFromId } from 'astro-leaflet'
	window.addEventListener('load', ()=> {
		const checkboxes = document.querySelectorAll('input[name="showcheckbox"]') as NodeListOf<HTMLInputElement>
		const layerGroup: { [key: string]: any} = {}
		layerGroup['astrodev'] = getMapOrLayoutGroupFromId(`astro-leaflet-layergroup-astrodev`)
		layerGroup['missingcountries'] = getMapOrLayoutGroupFromId(`astro-leaflet-layergroup-missingcountries`)
		layerGroup['stargazers'] = getMapOrLayoutGroupFromId(`astro-leaflet-layergroup-stargazers`)
		const map = getMapFromId('astro-leaflet-layergroup-stargazers')

		checkboxes.forEach((checkbox: HTMLInputElement) => {
			checkbox.addEventListener('change', () => {
				if (checkbox.checked) {
					layerGroup[checkbox.value].addTo(map)
				} else {
					layerGroup[checkbox.value].remove(map)
				}
			})
		})
	})
</script>