---
import { Leaflet, CreateLeafletIcon } from 'astro-leaflet';
import type {AstroLeafletMarkerType, AstroLeafletOptionsType}  from 'astro-leaflet';
import Layout from '../layouts/Layout.astro';

import data from '../data/data.json'
import countries from '../data/countries.json'
import visitedCountries from '../data/visited-countries.json'
import stargazers from '../data/stargazers.json'

const markers: AstroLeafletMarkerType[] = []

if (true) {
	Object.keys(data).forEach(key => {
		markers.push( {latlng: [data[key].lat, data[key].lon], options: {title: key, zIndexOffset: -400}, astroIconName:'icon-astrodev'} )
	})
} else {
	Object.keys(visitedCountries).forEach(key => {
		markers.push( {latlng: [visitedCountries[key].lat, visitedCountries[key].lon], options: {title: key}} )
	})
}

Object.keys(countries).forEach(key => {
	if (visitedCountries[key] === undefined) {
		markers.push( {latlng: [countries[key].lat, countries[key].lon], options: {title: key}, astroIconName:'icon-missingcountries'} )
	}
})

stargazers.forEach(stargazer => {
	if (stargazer.userLocationLatLng) {
		markers.push( {
			latlng: [parseFloat(stargazer.userLocationLatLng.lat), parseFloat(stargazer.userLocationLatLng.lon)],
			options: {
				title: `${stargazer.userLocation}\n${stargazer.repo}`,
				zIndexOffset: 400,
			},
			astroIconName:'icon-stargazers' })
	}
})

const options: AstroLeafletOptionsType = {
	tileLayer: 'https://{s}.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}',
	tileLayerOptions: {
		subdomains: [ 'mt0', 'mt1', 'mt2', 'mt3' ],
		attribution: 'Map data &copy; Google',
	},
	markers: markers,
}

---

<Layout>
	<CreateLeafletIcon name='icon-astrodev' options={{className: "leaflet-icon-astrodev"}}/>
	<CreateLeafletIcon name='icon-missingcountries' options={{className: "leaflet-icon-missingcountries"}}/>
	<CreateLeafletIcon name='icon-stargazers' options={{className: "leaflet-icon-stargazers"}}/>
	<Leaflet
		style="width: 100vw; height: 100vh"
		options={options}
	>

	<form>
		<label class='label' >
			<input type="checkbox" name="showcheckbox" value="astrodev" checked>
			astro-dev
		</label>
		<label class='label' >
			<input type="checkbox" name="showcheckbox" value="missingcountries" checked>
			missing countries
		</label>
		<label class='label' >
			<input type="checkbox" name="showcheckbox" value="stargazers" checked>
			Stargazers
		</label>
	</form>
	</Leaflet>
</Layout>

<style is:global>
	/* creating an icon.
	   cf. for some examples
		   https://www.drupal.org/docs/extending-drupal/contributed-modules/contributed-module-archive/contrib-modules-for-building-the-site-functionality/geographical-data-and-mapping/leaflet/creating-custom-styles-leaflet-icons-with */
	.leaflet-icon-astrodev, .leaflet-icon-missingcountries, .leaflet-icon-stargazers {
		border:5px solid rgba(255,255,255,0.5);
		border-radius:50%;
	}
	.leaflet-icon-astrodev         { background:blue; }
	.leaflet-icon-missingcountries { background:red; }
	.leaflet-icon-stargazers       { background:green; }

	.not-visible {
		display: none;
	}

	form {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000;
		background-color: lightgray;
		border: 1px solid black;
		padding: 10px;
		margin: 10px;
	}

	form label {
		display: block;
	}
	input {
		accent-color: black;
	}
	label:hover {
		background-color: grey;
	}
</style>

<script>
	// window.addEventListener('load', ()=> {
	// 	const elements = document.getElementsByClassName('leaflet-icon-stargazers')
	// 	for (let i = 0; i < elements.length; i++) {
	// 		elements[i].classList.add('not-visible')
	// 	}
	// })

	window.addEventListener('load', ()=> {
		const checkboxes = document.querySelectorAll('input[name="showcheckbox"]') as NodeListOf<HTMLInputElement>
		const markers: { [key: string]: HTMLCollectionOf<Element> } = {}
		markers['astrodev'] = document.getElementsByClassName('leaflet-icon-astrodev')
		markers['missingcountries'] = document.getElementsByClassName('leaflet-icon-missingcountries')
		markers['stargazers'] = document.getElementsByClassName('leaflet-icon-stargazers')
		checkboxes.forEach((checkbox: HTMLInputElement) => {
			checkbox.addEventListener('change', () => {
				const elements = markers[checkbox.value]
				for (let i = 0; i < elements.length; i++) {
					if (checkbox.checked) {
						elements[i].classList.remove('not-visible')
					} else {
						elements[i].classList.add('not-visible')
					}
				}
			})
		})
	})
</script>