---
import LeafLet from '../components/LeafLet.astro';
import Layout from '../layouts/Layout.astro';

import data from '../data/data.json'

const markers = []
Object.keys(data).forEach(key => {
	markers.push( {lat: data[key].lat, lon: data[key].lon, title: key} )
})

const options = {
	markers: markers,
}
---

<Layout>
		<LeafLet
			container="leafletmap"
			latitude={30}
			longitude={7}
			zoom={2}
			tileLayer="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
			attribution="&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
			containerstyle="width: 100vw; height: 100vh"

			options={options}
		/>
</Layout>
